---
layout: default
title: Witziggy World
custom-css: "index.css"
---

<div class="homeLeft">
    {% include logo.html %}
    <div class="homeDescription">
        <p>The world is confusing. There’s lots to figure out and understand, and
            Instagram stories aren’t slow enough to help us think. This website & newsletter
            exists to help readers understand big, hairy, intractable problems in society,
            through blogposts and recorded interviews.</p>
            {% include subscribe.html %}
    </div>
</div>
<div class="homeRight">
    {% assign image_files = site.static_files | where: "image", true %}
    {% for category in site.categories reversed %}
        <!-- <div class="archive-group"> -->
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <!-- Collect long version of issue name --> {% assign issueName = site.pages | where: "category", category_name | map: "issueName" %}
            {% assign issueImage = image_files | where: "basename", category_name %}
            {% for img in issueImage limit: 1 %}       
            <div class="issueImage">
                <img src="assets/images/{{ img.name }}">
            </div>
            {% endfor %}
            <!-- <hr class="pseudoImage"> -->
            <!-- replace with liquid element for image-->
            <div class="postStream">
                {% for post in site.categories[category_name] limit: 1 %}
                <!-- Date is currently set to the date of the first issue post; could be changed to be manually set in category page.  -->
                <h1><a href="{{ site.url }}/issue/{{ category_name }}"><span class="sec">{{ post.date | date: "%B %Y"}}</span> {{ issueName }}</a></h1>
                {% endfor %}
                {% for post in site.categories[category_name] %}
                <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
                <!-- if we want post excerpts --> <!--<p>post.excerpt</p> -->
                <!-- <p>post.excerpt</p> -->
                <!-- </article> -->
                {% endfor %}
            </div>
            {% endfor %}
</div>
