
$font-stack-prim: Wremena, serif;
$font-stack-sec: 'Gangster Grotesk', sans-serif;
$color-prim: #d8654b;
$color-sec: #50658a;
$color-tert: #f8e5c6;
$color-back: #fcf2e3;
$color-grey: #888888;
$white: white;
$outside-margins: 3vw;
$outside-margins-narrow: 1vw;
$vertical-margin: 5vh;
$col-gap: 2vw;
// Layout
