
$font-stack-prim: Wremena, serif;
$font-stack-sec: 'Gangster Grotesk', sans-serif;
$color-prim: #D8664C;
$color-sec: #50658a;
$color-tert: #f8e5c6;
$color-back: #fcf2e3;
$color-grey: #888888;
$white: white;

// Layout
