---
---
// Load sass variables (colors, font stack, etc.)
@import "variables";

// Load fonts
@font-face {
    font-family: 'Wremena';
    src: url('https://bennotkin.github.io/webfontkit-20201028-223227/wremena_regular-webfont.woff2') format('woff2'),
         url('https://bennotkin.github.io/webfontkit-20201028-223227/wremena_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Wremena';
    src: url('https://bennotkin.github.io/webfontkit-20201028-223227/wremena_bold-webfont.woff2') format('woff2'),
         url('https://bennotkin.github.io/webfontkit-20201028-223227/wremena_bold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'Wremena';
    src: url('https://bennotkin.github.io/webfontkit-20201028-223227/wremena_light-webfont.woff2') format('woff2'),
         url('https://bennotkin.github.io/webfontkit-20201028-223227/wremena_light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Gangster Grotesk';
    src: url('https://bennotkin.github.io/webfontkit-20201028-223227/gangstergrotesk-regular-webfont.woff2') format('woff2'),
         url('https://bennotkin.github.io/webfontkit-20201028-223227/gangstergrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gangster Grotesk';
    src: url('https://bennotkin.github.io/webfontkit-20201028-223227/gangstergrotesk-light-webfont.woff2') format('woff2'),
         url('https://bennotkin.github.io/webfontkit-20201028-223227/gangstergrotesk-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

// Everything below is for mobile first; 
// Media query for wider screens is at bottom.

// LAYOUT
// Vertical lines for the background
#vl0, #vl1, #vl2, #vl3, #vl4, #vl5, #vl6 {
    height: 90vh;
    position: fixed;
    top: $vertical-margin;
    border-left: 1px solid black;
    z-index: -1;
    //isolation: isolate;
}
#vl0 { left: $outside-margins;}
#vl1 {
    left: ($outside-margins-narrow + (100vw - $outside-margins*2)/6);
    display: none;
}
#vl2 {
    left: $outside-margins-narrow + 2*(100vw - $outside-margins-narrow*2)/6;
    display: none;}
#vl3 { left: $outside-margins-narrow + 3*(100vw - $outside-margins-narrow*2)/6;}
#vl4 {
    left: $outside-margins-narrow + 4*(100vw - $outside-margins-narrow*2)/6;
    display: none}
#vl5 { left: $outside-margins-narrow + 5*(100vw - $outside-margins-narrow*2)/6;}
#vl6 { left: 100-$outside-margins-narrow;
    display: none}

// Container for primary content (everything but footer right now);
// Container provides 6 column grid for content (with two border columns)
div.window {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1vw repeat(6, 1fr) 1vw;
    border-top: 2vh solid $color-prim;
    border-bottom: 2vh solid $color-prim;
    // column-gap: $col-gap; // not active because it seems to prevent grids of contents from matching
}

// Navigation bar for default pages (everything besides index)
nav{
    grid-column: 1 / span 2;
    padding: $vertical-margin $col-gap/2 $vertical-margin 0; // top and bottom margins maybe shouldn't be same as vertical margin
    background-color: $color-back; // alt design is give white background with thick colorful right border
    // padding-left: 1vw; //calc( {$outside-margins} + 0.6125vw) doesnt calc
    font-family: $font-stack-sec;
    text-align: left;
    display: grid;
    grid-auto-rows: 2em; // auto-fills rows with set height for nav items
    grid-template-rows: auto; // pushes nav items to the bottom of the sidebar (gives logo all remaining height)
}
// paragraphs that are immediate children of nav bar
nav > p {background: none; padding-left: .5ch;}
nav a {text-decoration: none; }

// Logo
div.logo {
    // structure
    grid-row: 1 / span 1;
    justify-self: center;
    width: 100%;
    padding-right: 1ch;
    // typography
    font-family: $font-stack-prim;
    font-weight: lighter;
    letter-spacing: .05ch;
    line-height: 1em;
}
div.logo p {
    margin: 0em 0;
    background: none;
    position: relative;
    z-index: 4;
}

div.logo a {
    text-decoration: none;
}

div.logo p:nth-child(even), .longtitle p:nth-child(even) {
    text-align: right;
    z-index: 2;
}

nav div.logo {
    font-size: 1.4em;
    margin-bottom: 1em;
}

div.post, div.page {
    width: 100%;
}

div.longtitle {
    margin-top: 15vh;
    margin-bottom: 5vh;
    width: min(110%, 100vw);
    // align-self: center;
    background-color: $white;
}

div.post div.longtitle {
    color: $color-prim;
}

div.page div.longtitle {
    color: $color-sec;
}


div.post, div.page {
    grid-column: 4 / span 3;
    justify-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


// should this be in index.scss instead?

#mc_embed_signup input.email,
#mc_embed_signup input.button {
    display: inline-block;
}

// Subscription signup (maybe change on other pages than home)
div#mc_embed_signup_scroll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $col-gap;
}

#mc-embedded-subscribe-form {margin: 0;}
#mce-EMAIL, #mc-signup-sub, #mc-embedded-subscribe {width: 100%;}

#mc_embed_signup_scroll input {
    border: 1px solid black;
    background-color: $white;
    font-size: 0.8em;
    font-family: $font-stack-sec;
    height: 1.5em;
    line-height: 1;
    padding: 0 .5ch;
    // display: inline-flex;
    // align-items: center;  
}

// input#mce-EMAIL {border: none; border-bottom: 2px solid black;}

// change this for narrower screens so button is below field

@media screen and (min-width: 600px) {
    .mc-field-group {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }

    #mc-signup-sub {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }
}

p {
    background-color: $white;
    margin: 0 0 .5em 0;
}

//move to main
body {
    margin: 0;
    padding: 0;
    display: grid;
    background-color: $white;  
}

// .nav {
//     grid-row: 1/1;
//     display: grid;
//     // grid-template-columns: repeat(auto-fit, 1fr);
//     // grid-template-rows: 1fr;
//     grid-auto-flow: column;
// }

//.main {
    // grid-row: 2 / span 1;
//}

.content {
    min-height: calc(95vh - 3em); 
}

a {
    color: inherit
}

// Images

// Fonts & Text
html {
    font-size: 18px;
    // overflow-x: hidden;
}

body {
    line-height: 1.3;
    font-family: $font-stack-prim;
}

.current-page {
    color:$color-prim;
}

h1 {
 font-size: 2.5em;   
 font-weight: lighter;
}

h1 p {
    margin: 0;
}

h2 {
    color: $color-sec;
    margin: 1em 0 .5em 0;
}

// h1 {
//     font-weight: 400;
//     text-align: center;
//     font-style: italic;
//     padding: 2em 0 1em 0;
// }

// h2 {
//     font-size: 1.1em;
//     font-weight: normal;
//     text-transform: uppercase;
//     //font-style: italic;
//     letter-spacing: 0.1ch;
// }

//this might only be for the nav
h3 {
    font-family: $font-stack-sec;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    font-size: 1em;
    color: $color-sec;
    font-weight: 400;
    margin: 1em 0 0.5em 0;
}

h4 {
    font-family: $font-stack-sec;
    font-weight: normal;
    font-size: calc(1.6em * .8);
    margin: 0.8em 0 0 0;
}

// .nav a {
//     text-decoration: none;
// }

div.postMeta {
    font-family: $font-stack-sec;
    margin-bottom: 1em;
}
div.postContent {
    // margin: 2ch;
    width: 101%;
    // margin-left: -10%;
    // width: calc(100% + 3ch);
    padding: 3ch 0 ;
    // margin-left: -3ch;
    background-color: $white;
}

pre.highlight {
    background-color: $color-back;
    border-radius: .5ch;
    padding: 1ch;
}

code {
    font-family: sf-mono, "SF Mono", Menlo, monospace;
    background-color: $color-back;
    padding: 0 0.5ch;
    font-size: 0.8em;
    border-radius: 3px;
}

//move to main
// .footer {
//     font-family: $font-stack-sec;
//     font-size: 0.9rem;
//     min-height: 3em;
// }
.footer {
    // margin-top: 5vh;
    padding: 5vh 0 50vh 0;
    display: grid;
    grid-template-columns: 1vw repeat(6, 1fr) 1vw;
    column-gap: $col-gap;
    background-color: $color-back;
    // color: white;
    // mix-blend-mode: multiply;
    // height: 50vh;
    // grid-column: 1 / end;
    width: 100vw;
    // margin-top: 5vh;
}

#footerList1 {
    grid-column: 4 / span 1;
    text-align: right;
}
#footerList2 {
    grid-column: 5 / span 1;
}

.footer #copyright {
    padding-top: 5vh;
    grid-column: 3 / span 4;
    align-self: center;
    text-align: center;
}

.footer p {
    background-color: inherit; 
    font-family: $font-stack-sec; 
    font-size: 0.8em;
}

// @media screen and (min-width: 600px) {
    // body {
    //     padding: 0;
    //     // overflow: hidden;
    //     // max-width: 100vw;
    //     // grid-template-columns: 25ch 1fr;
    //     // grid-template-rows: 100vw;
    //     height: 100vh;
    //     width: 100vw;
    // }

    // .nav {
    //     padding: 2ch;
    //     grid-column: 1 / 2;
    //     grid-row: 1 / 2;
    //     overflow-y: hidden;
    //     display: block;
    //     // grid-auto-flow: row;
    //     // grid-template-columns: 1fr;
    //     // grid-template-rows: repeat(6, 1em);
    //     align-items: end;
    //     align-self: end;

    //     h3 {
    //         font-size: 1em;
    //         line-height: 1;
    //     }
    // }

    // .main {
    //     grid-row: 1 / span 1;
    //     grid-column: 2 / span 1;
    //     overflow-y: scroll;
    // }

    // .content {
    //     max-width: 70ch;
    //     // overflow-y: scroll;
    // }
// }



// move all media queries to the end
@media (min-width: 850px) {
    html {
        font-size: 20px;
    }
    div.footer, div.window {
        grid-template-columns: $outside-margins repeat(6, 1fr) $outside-margins;
    }
    nav {
        padding-left: $outside-margins; //calc( {$outside-margins} + 0.6125vw) doesnt calc

    }
    #vl0 { left: $outside-margins;}
    #vl1 {
        left: ($outside-margins + (100vw - $outside-margins*2)/6);
        display: none;
    }
    #vl2 { left: $outside-margins + 2*(100vw - $outside-margins*2)/6;}
    #vl3 { left: $outside-margins + 3*(100vw - $outside-margins*2)/6;}
    #vl4 { left: $outside-margins + 4*(100vw - $outside-margins*2)/6;}
    #vl5 { left: $outside-margins + 5*(100vw - $outside-margins*2)/6;}
    #vl6 { left: 100-$outside-margins;}
}

@media only screen 
  and (min-device-width: 813px) 
  and (-webkit-min-device-pixel-ratio: 3), (orientation: landscape) { 
    #vl2, #vl4, #vl6 {display: block}
   
    .footer {
        // position: absolute;
        // top: 100vh;
    }
}