---
---
@import "variables";

// Vertical lines for the background
#vl1, #vl2 {
    height: 90vh;
    position: fixed;
    top: $vertical-margin;
    border-left: 1px solid black;
    z-index: -1;
    //isolation: isolate;
}
#vl1 {left: 34vw}
#vl2 {right: 34vw;}
// h1, h2, h3, h4, 
p {background-color: $white;}
div.window {border-top: 2vh solid $color-prim;}
div.logo {
    // grid-column: 1 / span 2;
    // grid-row: 1 / span 1
    font-size: 1.8em; //fix to relative units?
    // font-weight: lighter;
    // justify-self: auto;
    width: 100%;
    max-width: 13ch;
    // padding-right: 0;
    color: $color-sec;
    letter-spacing: 0.25ch;
    margin: 0 auto;
    p {
        line-height: 1em;
        margin: 0;
        z-index: 4;
        position: relative;
    }
}

.homeLeft, .homeRight {
    padding: 1ch;
    padding-bottom: 2em;
    width: calc(100vw - 2ch); //maybe delete, unnecessary?
}
.homeLeft {
    display: grid;
    height: calc(100vh - 2em - 2vh); //full height minus bottom menu and top border
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    padding-top: 0;
}
.homeRight img { //potentially make universal
    max-width: 100%;
    max-height: 60vh;;
}
div.postStream {margin-bottom: 2em;}
// div.postStream:last-child {
//     padding-bottom: 2em;
// }


.footer {
    padding: .5ch 1ch 2em 1ch;
    p {background: none;}
}


// Typography
div.logo {
    p {background: none;}
    span.logoSpan {background-color: $white;}

}

div.homeLeft p {
    font-family: $font-stack-prim;
    font-size: 1.1em;
    font-weight: lighter;
}

div.postStream h1 {
    font-family: $font-stack-prim;
    font-size: 1.4em;
    // font-weight: normal;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}
div.postStream h4 {
    font-family: $font-stack-prim;
    // color: $color-grey;
}
div.postStream:nth-child(2n) h1 {
    color: $color-prim;
}
div.postStream:nth-child(4n) h1 {
    color: $color-sec;
}
// Define the "season font" (e.g. Fall 2021)
span.sec {
    font-family: $font-stack-sec;
    color:$color-grey;
    font-style: normal;
    font-size: 0.75em;
    text-transform: none;
}
.postStream a {
    text-decoration: none;
}


@media (aspect-ratio: landscape) {
    div.homeLeft {
        grid-column: 2 / span 3;
    }
    div.homeRight {
        grid-column: 5 / span 3;
    }
}