---
---
@import "variables";

nav {
    background: none;
    text-align: center;
    grid-column: 2 / span 6;
}
div.navigation {
    height: unset;
}

// Left side of the homepage
div.homeLeft {
    grid-column: 2 / span 6;
    //background-color: cornsilk;
    padding: 5vh $col-gap/2;
    padding-top: calc(5vh + 2rem); // if there's a nav bar, the 5vh padding is already in place
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    align-items: center;
    font-size: 1.4rem;
}

div.logo {
    grid-column: 1 / span 2;
    // grid-row: 1 / span 1
    font-size: 4rem; //fix to relative units?
    font-weight: lighter;
    // justify-self: auto;
    width: 100%;
    max-width: 13ch;
    padding-right: 0;
    margin-top: 3vh;
}

// hiding the vertical lines under the logo
div.logo p span {
    background-color: $white;
    //mix-blend-mode: multiply;
    display: inline-block;
}

div.homeDescription p {
    // background-color: $color-back;
    // padding: 1ch;
    margin: 0 0 0.5em 0;
}

// div.homeDescription {
//     background-color: $white;
// }

// div.logo p:nth-child(2) span {
//     background-color: cyan;
//}

// right side of home page
div.homeRight {
    grid-column: 2 / span 6;
    //background-color: cornsilk;
    // height: 4.5rem;
    padding: 5vh $col-gap/2;
    padding-top: calc(5vh + 2rem); // if there's a nav bar, the 5vh padding is already in place
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $col-gap;
}
div.issueImage {
        grid-column: 1 / span 3;
    text-align: center;
}
div.homeRight img {
        max-width: 100%;
        max-height: 60vh;
}

// Position the list of articles on the far left two columns
div.postStream {
        grid-column: 1 / span 3;
        background-color: $white;
        margin-bottom: 2em;
    text-align: left;
}

div.postStream:last-child {
    padding-bottom: 2em;
}

div.postStream h1 {
        font-family: $font-stack-prim;
    font-size: 1.6rem;
    // font-weight: normal;
        border-bottom: 1px solid black;
        text-transform: uppercase;
}

div.postStream h4 {
        font-family: $font-stack-prim;
    // color: $color-grey;
}

// div.postStream:nth-child(2n) h1 {
div.postStream:nth-child(2n) h1 {
        color: $color-prim;
}

div.postStream:nth-child(4n) h1 {
        color: $color-sec;
}

// Define the "season font" (e.g. Fall 2021)
span.sec {
        font-family: $font-stack-sec;
        color:$color-grey;
        font-style: normal;
        font-size: 0.75em;
        text-transform: none;
}

.postStream a {
        text-decoration: none;
}


// move all media queries to the end 
@media (min-width: 850px) {
    nav {
        width: 100vw - 2*$outside-margins;
        left: $outside-margins
    };
    div.postStream {
            grid-column: 2 / span 2;
    }
//}

// @media only screen 
//   and (min-width: 813px) 
//   and (-webkit-min-device-pixel-ratio: 3), (orientation: landscape) { 
    #vl1 {display: block;}
    
    .window {
        // height: 100vh;
    }
    div.navigation {
        grid-template-columns: repeat(6, 1fr);
    }
    div.homeLeft {
            grid-column: 2 / span 3;
        height: calc(90vh - 1rem); //subtracting 1 em for the nav bar on top (and 5vh from top and bottom)
        position: sticky;
        top: 7vh;
        padding-top: 0;
    }
    div.homeRight {
        grid-column: 5 / span 3;
        // height: calc(90vh - 1rem); //subtracting 1 em for the nav bar on top (and 5vh from top and bottom)
        // overflow-y: scroll;
    }

    div.issueImage {
        text-align:right;
    }
    .footer {
        // position: absolute;
        // top: 100vh;
    }
}