---
---
<html>    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Witziggy World {% if page.title != "Witziggy World" %} - {{ page.title }} {% endif %}</title>
        <link rel="stylesheet" href="{{ "/assets/css/fontsLoad.css" | absolute_url }}">
        <!-- <link rel="stylesheet" href="{{ "/assets/css/default.css" | absolute_url }}"> -->
        <link rel="stylesheet" href="{{ "/assets/css/mobileFirst.css" | absolute_url }}">
        <!-- <link rel="stylesheet" href="{{ "/assets/css/index-desktopFirst.css" | absolute_url }}"> -->
        <link rel="stylesheet" href="{{ page.custom-css | prepend: '/assets/css/' | absolute_url }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | absolute_url }}">
    </head>
    <body>
        <!-- <div id="vl0"></div> -->
        <div id="vl1"></div>
        <div id="vl2"></div>
        <div id="vl3"></div>
        <div id="vl4"></div>
        <div id="vl5"></div>
        <!-- <div id="vl6"></div> -->
        <div class="window">
            {% include navigation.html %}
            {{ content }}
            
            <!-- <div id="footer"></div> -->
            
        </div>
        {% include footer.html %}
    </body>
</html>